html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 20px;
  background-color: rgb(241, 220, 230);
  z-index: 100;
}
nav ul {
  float: right;
  text-align: center;
  margin: 0;
  padding-right: 0px;
}
nav ul li {
  display: inline-block;
  padding: 12px 12px;
}
nav ul li a {
  text-decoration: none;
  color: rgb(43, 32, 32);
  font-size: 16px;
  border-style: hidden;
  border-color: #272449;
  padding: 12px;
}
nav ul li a:hover,
nav ul li a:active {
  color: #e9f3ec;
  background-color: #945185;
}

header {
  /*background-image: linear-gradient(rgba(0, 0, 100, 0.5), rgba(0, 0, 100, 0.5)),
    url(images/Home_page_pic.jpg);
  background-size: cover;
  background-position: 100% 13%;*/

  /*background-image: linear-gradient(rgba(0, 0, 100, 0.5), rgba(0, 0, 100, 0.5)),
    url(images/Home_page_pic_edited.jpg);
  background-size: cover;
  background-position: 100% 0%;*/
  /*background: rgb(2, 0, 36);
  background: linear-gradient(
      130deg,
      rgba(2, 0, 36, 0.45) 0%,
      rgba(9, 51, 121, 0.5) 100%,
      rgba(0, 212, 255, 0.6) 100%
    ),
    url(images/Home_page_pic_edited2.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;*/

  /*background-image: linear-gradient(
      rgba(21, 44, 53, 0.5),
      rgba(21, 44, 53, 0.5)
    ),
    url(images/home_page_pic_merged.jpg);
  background-size: cover;
  background-position: 100% 0%;*/

  background-image: url(images/latest_home_pic.jpeg);
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  height: 100vh;
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 90px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

.w3-tangerine {
  font-family: "Tangerine", serif;
  text-align: left;
  padding-left: 60px;
  padding-top: 60px;
}
.w3-tangerine-first {
  font-family: "Tangerine", serif;
  text-align: left;
  padding-left: 250px;
  padding-top: 60px;
  font-size: 60px;
}
.w3-tangerine-para {
  font-family: "Tangerine", serif;
  text-align: left;
  padding-left: 520px;
  padding-top: 0px;
  font-size: 50px;
  color: aquamarine;
}

.wish-heading {
  text-align: center;
  font-size: 32px;
  font-weight: 100;
}

.wish-heading h1 {
  font-variant: small-caps;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: aquamarine;
}

.wishes {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-row-gap: 100px;
  justify-content: center;
  justify-items: center;
  background-image: radial-gradient(
    ellipse at center,
    rgba(0, 33, 82, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.wishes img {
  opacity: 0.6;
  transition: opacity 0.5s linear;
}
.wishes img:hover {
  cursor: pointer;
  opacity: 1;
}
